<div class="md:w-1/2 relative rounded-md overflow-hidden">
  <%= image_tag "diana-parkhouse-r0XRumv-I2k-unsplash-2.jpg", { class: "opacity-80" } %>
  <div class="absolute inset-x-0 top-0 text-center p-5 text-zinc-100">
    <h1 class="text-4xl font-extrabold">422</h1>
    <p>Um, no.</p>
  </div>
  <p class="text-center text-sm">
    Photo by 
    <a href="https://unsplash.com/@ditakesphotos?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Diana Parkhouse</a> 
    on 
    <a href="https://unsplash.com/images/animals/kitten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
</div>
